<h1>Annonces</h1>

<div class="places">
<%- Annonce::PLACES.each do |k, v| %>
  <div class="place">
  <h2><%= k %></h2>
  <table id="<%= k %>">
  <%- @annonces.sort_by{|annonce|
      (annonce.longitude - v[:longitude]) + (annonce.latitude - v[:latitude])
    }.each do |annonce| %>
    <%- if annonce.place == k.to_s && annonce.price < 800 %>
      <tr class="<%= annonce.state %>">
        <td>
          <%= link_to annonce.title, annonce.url %>
        </td>
        <td class="shorten">
          <%= annonce.latitude %>
        </td>
        <td class="shorten">
          <%= annonce.longitude %>
        </td>
        <td>
          &nbsp;&nbsp;&nbsp;<%= annonce.price %>&nbsp;$
        </td>
        <td>
          <%= link_to 'Keep', set_state_path(annonce.id, 'retained')+'?place='+k.to_s %> | 
          <%= link_to 'Reject', set_state_path(annonce.id, 'rejected')+'?place='+k.to_s %>
        </td>
      </tr>
    <%- end %>
  <%- end %>
  </table>
  </div>
<%- end %>
</div>
